@import 'mixins/bem';
@import 'mixins/animations';

@include block(curtain) {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  @include element(foreground) {
    width: 100%;
    height: 100%;
    right: 120%;
    @include animate(inFromLeft);
  }
  @include element(background) {
    width: 3000px;
    height: 2000px;
    bottom: 0;
    left: 120%;
    z-index: 1;
    @include animate(inFromRight);
  }
  @include modifier(open) {
    @include element(foreground) {
      @include animate(outToLeft);
    }
    @include element(background) {
      @include animate(outToRight);
    }
  }
  @include modifier(behind) {
    z-index: -10;
  }
}
