@import '../mixins/animations';

.front-page-colours {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	&__foreground {
		width: 100%;
		height: 100%;
		@include slide(inFromLeft);
	}
	&__background {
		width: 3000px;
		height: 2000px;
		bottom: 0;
		z-index: 1;
		@include slide(inFromRight);
	}
	&__foreground, &__background {
		position: absolute;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
	}
	&--open {
		.front-page-colours__foreground {
			@include slide(outToLeft);
		}
		.front-page-colours__background {
			@include slide(outToRight);
		}
	}
	&--back {
		z-index: -10;
	}
}

