.menu-icon {
	float: right;
	position: relative;
	margin-right: 3em;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0.25em;
		width: 2em;
		height: 0.15em;
		background: black;
		box-shadow:
			0 0.5em 0 0 black,
			0 1em 0 0 black;
	}
}
