.project-overlay {
  @mixin out {
    display: none;
  }
  @mixin in {
    display: block;
  }
  position: absolute;
  width: 100%;
  &.is-out {
    .project-overlay__triangle {
      @include out;
    }
    .project-overlay__description {
      position: relative;
      @include out;
    }
    @include breakpoint($md) {
      .project-overlay__intro {
        position: relative;
        @include out;
      }
    }
  }
  &__content {
    z-index: 2;
    margin: 0 1em;
    position: relative;
    p {
      margin: 0;
    }
    @include in;
    @include breakpoint($sm) {
      width: 70%;
    }
  }
  &__intro {
    @include breakpoint($md) {
      padding: 0.5em 1em 0;
    }
  }
  &__description {
    @include breakpoint($md) {
      padding: 0 1em;
    }
  }
  &__triangle {
    position: absolute;
    @include in;
    z-index: 1;
    width: 100%;
    &--xs {
      display: block;
      height: 200px;
    }
    &--sm {
      display: none;
      height: 347px;
    }
    &--md {
      display: none;
      height:496px;
    }
    &--lg {
      display: none;
      height: 600px;
    }
    @include breakpoint($sm) {
      &--xs {
        display: none;
      }
      &--sm {
        display: block;
      }
    }
    @include breakpoint($md) {
      top: 0;
      &--sm {
        display: none;
      }
      &--md {
        display: block;
      }
    }
    @include breakpoint($lg) {
      &--md {
        display: none;
      }
      &--lg {
        display: block;
      }
    }
  }
  &__controls {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 1em;
    @include breakpoint($sm) {
      padding: 1em;
    }
    @include breakpoint($md) {
      top: 496px;
      position: absolute;
      right: 0;
    }
    @include breakpoint($lg) {
      top: 600px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__show {
    &:before {
      content: ' + ';
    }
  }
  &__hide {
    display: none;
    &:before {
      content: ' – ';
    }
  }
}
