@import 'mixins/animations';

.project-overlay {
  position: absolute;
  width: 100%;
  &.is-out {
    .project-overlay__triangle {
      @include animate(fadeOutToLeft);
    }
    .project-overlay__content {
      @include animate(fadeOut);
    }
  }
  &__content {
    padding: 1em;
    padding-top: 0.5em;
    position: absolute;
    @include animate(fadeIn);
    @include breakpoint($sm) {
      width: 70%;
    }
  }
  &__triangle {
    @include animate(fadeInFromLeft);
    width: 100%;
    height: 600px;
  }
  &__controls {
    position: absolute;
    top: 600px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    &:hover {
      cursor: pointer;
      background-color: yellow;
    }
  }
  &__show {
    display: none;
    &:before {
      content: ' + ';
    }
  }
  &__hide {
    &:before {
      content: ' – ';
    }
  }
}
