@import 'mixins/accessibility';

body.page {
  .entry-title {
    @include accessibility;
  }
  .entry-content {
    margin: 0 20%;
    :first-child {
      margin-top: 0;
    }
  }
  .entry-footer {
    margin: 0 20%;
  }
}
