@import 'mixins/responsive';

.site {
  /**
   * Responsive layout, anchored left.
   */
  margin: 0;
  .site-content {
    flex-direction: column;
  }
  @include breakpoint($sm) {
    max-width: $screen-sm-min;
  }
  @include breakpoint($md) {
    margin: 0 0 0 1em;
    max-width: $screen-md-min;
    .site-content {
      flex-direction: row;
    }
  }
  @include breakpoint($lg) {
    max-width: $screen-lg-min;
  }
  .site-content {
    display: flex;
  }
  .sidebar {
    flex: 1;
  }
  .content-area {
    flex: 3;
  }
}
.site-header {
  margin: 0 1em;
}
