.site {
	/**
	 * Responsive layout, centred.
	 */
	margin: auto;
	@include breakpoint($sm) {
		max-width: $screen-sm-min;
	}
	@include breakpoint($md) {
		max-width: $screen-md-min;
	}
	@include breakpoint($lg) {
		max-width: $screen-lg-min;
	}
}
