@mixin animate($animation) {
  position: absolute;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-name: $animation;
}

@keyframes inFromRight {
  0% { left: 120%; }
  100% { left: 0; }
}

@keyframes outToRight {
  0% { left: 0; }
  100% { left: 120%; }

}

@keyframes inFromLeft {
  0% { right: 120%; }
  100% { right: 0; }
}

@keyframes outToLeft {
  0% { right: 0; }
  100% { right: 120%; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    right: 120%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes fadeOutToLeft {
  0% {
    opacity: 1;
    right: 0;
  }
  100% {
    opacity: 0;
    right: 120%;
  }
}
